body{
	margin:0px;
	padding:0px;
}
#ludo{
	position: relative;
	padding:0px;
	margin:0px;
}
td{
	border:1px solid black;
	cursor:pointer;
}
#b1, #b2, #b3, #b4, #b5, #a30{
	background-color:blue;
}
#y1, #y2, #y3, #y4, #y5, #a17{
	background-color:yellow;
}
#g1, #g2, #g3, #g4, #g5, #a4{
	background-color:green;
}
#r1, #r2, #r3, #r4, #r5, #a43{
	background-color:red;
}
.divRed{
	background-color:red;
}
.divYellow{
	background-color:yellow;
}
.divBlue{
	background-color:blue;
}
.divGreen{
	background-color:green;
}
.pall{
	position:absolute;
}
.pr{
	background-image: url("pr10.png");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
}
.pb{
	background-image: url("pb10.png");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
}
.pg{
	background-image: url("pg10.png");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
}
.py{
	background-image: url("py10.png");
	background-position: center;
	background-size: contain;
    background-repeat: no-repeat;
	padding:0px;
	margin:0px;
}
